/*Seccion contenido*/

/*Cuadricula para recuadros*/
.cuadricula{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.2rem;
  grid-auto-columns: minmax(auto);
}

/*Base recuadro*/
.box .box-header{
  padding: .5rem;
  justify-content: center;
  align-items: center;
}

.box .box-header p{
  /*nota: titulo de recuadro*/
 text-align: center;
 font-size: 25px;
 font-weight: bold;
}

.box{
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: justify;
  min-width: 15rem;
  grid-column: 6 span;/*nota: acomodo de recuadros general*/
}
.box .box-content{
  padding: 1.2rem;
  /*nota: eliminar separación de arriba del contenido del recuadro*/
  padding-top: 0;
}


/*opciones para tabla*/
.opciones-linea{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.2rem;
  grid-auto-columns: minmax(auto);
  width: 100%;
  padding-bottom: 10px;/*nota: separacion entre opciones y tabla*/
  margin: 0 auto;
}


.opciones-linea .btn-regresar{
  color: #ffffff;
  font-size: 16px;
  border: 1px solid  #303138;
  background-color: #303138;
  text-decoration: none;/*nota: quitar subrayado de enlace*/
  border-radius: 6px;
  padding: 5px 10px;
  text-align: center;
  grid-column: 1 span;
}

.opciones-linea .btn-agregar{
  color: #ffffff;
  font-size: 16px;
  border: 1px solid  #FF914D;
  background-color: #FF914D;
  text-decoration: none;/*nota: quitar subrayado de enlace*/
  border-radius: 6px;
  padding: 5px 10px;
  text-align: center;
  grid-column: 1 span;
}


.box.box-alert .box-content{
  padding: 10px;
}


/*recuadro tabla*/
.box table {
  border-collapse: collapse;
  width: 100%;
}

.box table th, td {
  padding: 4.8px;
  text-align: left;
  /*nota: bordes de tabla*/
  border-bottom: 2px solid #A6A6A6;
}

.box table th {
  /*nota: cabecera de tabla*/
  background-color: #ffffff;
  position: sticky;
  top: 0; 
  border-bottom: none;
}
.box table th::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  /*nota: borde debajo de cabecera de tabla*/
  background-color: #A6A6A6;
}


/*formulario*/
.box .campo-formulario{
  overflow-y:scroll;
  padding: 1.4rem 0;
  padding-top: 0;
  height: 62vh;/*nota: altura de campo para formulario*/
  margin: 0 auto;
}

.campo-formulario .titulo-dato.primero{
  display: block;
  padding-top: 0;
}
.campo-formulario .titulo-dato{
  /*nota: espacio entre campos de datos*/
  display: block;
  padding-top: 15px;
}

.campo-formulario .campo-dato{
  width:100%;
  border: 1px solid  #D9D9D9;
  background-color: #D9D9D9;
  border-radius: 6px;
  padding: 7px 2px;
  font-size: 16px;
}

.opciones-linea.inferior{
  padding-top: 10px;/*nota: separacion entre opciones y tabla*/
  padding-bottom: 0;
}


/*recuadro de alerta*/
.mensaje-alerta{
  background-color: #A6A6A6;
  color: #ffffff;
  border-radius:6px;
  padding: 8px;
  /*nota: ocultar alerta*/
  grid-column: 6 span;
}

/*Vista en dispositivos moviles*/
@media only screen and (max-width: 900px) {
  /*opciones para tabla*/
  .opciones-linea .btn-regresar{
    grid-column: 6 span;
  }
  .opciones-linea .btn-agregar{
    grid-column: 6 span;
  }
  
}